<!DOCTYPE html>
<html lang="pt-br">
<head charset="UTF-8 BOM">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="styleLogin.css">
</head>
<body>
	<div id="geral">
		<header>
			
		</header>
		<article id="login">
			<form method="POST" id="formLogin">
				<fieldset>
					<h3>Login</h3>
					<input type="email" placeholder="Login" id="login" required autofocus>
					<br>
					<input type="password" placeholder="Senha" id="senha" required>
					<br>
					<button type="submit" id="logar" onclick="validar()">Logar!</button>
				</fieldset>
			</form>
		</article>
		<footer>
			
		</footer>
	</div>

</body>
</html>